body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.container {
    padding: 50px;
    background: linear-gradient(to right, #B0C4FF, #6A85D3);
    border-radius: 10px;
    width: 85%;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 120px;
    margin-bottom: 20px;
    border-radius: 25px;
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.conversation-box {
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 2px solid black;
}

.message {
    margin: 10px 0;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form input[type="text"] {
    padding: 10px;
    border: 2px solid #5A78E8;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

.input-form input[type="text"]:focus {
    outline: none;
    border-color: #333;
}

.action-button {
    background-color: #5A78E8;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.action-button:hover {
    background-color: #f0f0f0;
    color: #333;
}
