body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #a6b9ff, #3c57a9);
    position: relative;
}

/* Flash Messages */
.flash-messages {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 40%;
    text-align: center;
}

.flash {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Container */
.container {
    display: flex;
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Left Section */
.left-section {
    width: 50%;
    padding: 40px;
    background: #B0C4FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100px;
    border-radius: 25px;
    margin-right: 10px;
}

h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background: #f1f1f1;
}

button {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #5A78E8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4055C9;
}

p {
    font-size: 14px;
    color: #333;
    text-align: center;
}

a {
    color: #0000FF;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Right Section */
.right-section {
    width: 50%;
    background: url('../images/Login_heart.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
