<!doctype html>
<html>
<head>
    <title>Redirect Page</title>
</head>
<body>
    <h2>Welcome back doctor!!</h2>
    <p>Click the button below to proceed to the main page.</p>

    <form action="{{ url_for('agent_page') }}" method="get">
        <button type="submit">Go to Agent Page</button>
    </form>

    <br>

    <p>Or, view your appointments:</p>
    <form action="{{ url_for('appointments_history_page') }}" method="get">
        <button type="submit">View Appointments</button>
    </form>
</body>
</html>
